<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.widetech.mobile.mitaxiapp.activity"
    android:versionCode="4"
    android:versionName="1.3" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.widetech.mobile.mitaxiapp.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_mitaxiapp"
        android:label="@string/app_name"
        android:theme="@style/Theme.GitHub" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="com.widetech.mobile.mitaxiapp.activity.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.widetech.mobile.mitaxiapp.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AndroidDevelopers" >
        </activity>
        <activity
            android:name="com.widetech.mobile.mitaxiapp.activity.UserRegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_user_register"
            android:theme="@style/Theme.AndroidDevelopers" >
        </activity>
        <activity
            android:name="com.widetech.mobile.mitaxiapp.activity.ServiceActivity"
            android:label="@string/title_activity_service"
            android:parentActivityName="com.actionbarsherlock.app.SherlockActivity"
            android:theme="@style/Theme.AndroidDevelopers" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.actionbarsherlock.app.SherlockActivity" />
        </activity>
        <activity
            android:name="com.widetech.mobile.mitaxiapp.activity.MobileListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_mobile_list"
            android:theme="@style/Theme.AndroidDevelopers" >
        </activity>
        <activity
            android:name="com.widetech.mobile.mitaxiapp.activity.PositionTaxiActivity"
            android:label="@string/title_activity_position_taxi"
            android:theme="@style/Theme.AndroidDevelopers" >
        </activity>
        <activity
            android:name="com.widetech.mobile.mitaxiapp.activity.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/Theme.AndroidDevelopers" >
        </activity>
        <activity
            android:name="com.widetech.mobile.mitaxiapp.activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/Theme.AndroidDevelopers" >
        </activity>
    </application>

</manifest>